<script src="/js/scrapeAdd.js"></script>
{{#each article}}

    <div class="row mt-3">
        <div class="col-8">
            <h1>{{title}}</h1>
        </div>
        <div class="col-3">
            <p>Upvotes: {{upvotes}}</p>
            <p>{{time}}</p>
            <a href="/article/{{_id}}">View Article</a>
        </div>
    </div>
    <hr />

{{/each}}